body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
  margin-left: 0;
  margin: 100px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #489696;
}

h2{
  font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #4c8a8a;
    font-weight: 500px;
}

h3{
  color: #11999E;


}


.top-container
{
  background: #E4F9F5;
  position: relative;
  padding-top: 20px;

}

.middle-container{
  margin: 100px;
}

.bottom-cloud{

position: absolute;
bottom: 300px;

}

.top-cloud{

  position: relative;
  left:250px;
  top: 50px;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;


}

.devloper-img{
  width:20%;
  float: right;
  margin-left: 30px;

}

.designer-img{
width: 25%;
float: left;
margin-right: 30px;
}

.myimage{
  width: 30%;
}

p
{
  color: #40514E;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.BUTTON_KBM {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: bold;
   padding: 16px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px;
}

.BUTTON_KBM:hover {
   border: solid #337FED 1px;
   background: #30ECBE;
   background-image: -webkit-linear-gradient(top, #30ECBE, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30ECBE, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30ECBE, #2BC4AD);
   background-image: -o-linear-gradient(top, #30ECBE, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30ECBE, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.bottom-container{

  background-color: #66BFBF;
  padding: 50px;
}


a{
  padding: 10px;
  margin: 10px 20px;
  color: #11999E;
  text-decoration: none;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #eaf6f6;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px;
}
